# R/RStudio
*.Rproj
.Ruserdata
.Renviron

# R session files
.Rproj.user/
.Rhistory
.Rapp.history
.RData
.RDataTmp

# personal
*.env

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# Quarto/markdown
/.quarto/
.quarto/
_quarto/
_cache/
*.nb.html
*.utf8.md
*.knit.md

# Shiny logs
*.log

# system files
.DS_Store
Thumbs.db

# output
# NOTE: Do NOT ignore docs/, it's needed for GitHub Pages!

# raw data before initialization
data_raw/

# example code (from class/hw) for reference
2-files-app/